<md-dialog aria-label="Mango (Fruit)">
  <form>
  <md-dialog-content class="sticky-container" style="padding : 20px;">
    <md-subheader flex="10" class="md-sticky-no-effect">{{billi.short_title}}</md-subheader>
      <p layout="row" layout-align="center center" style="padding : 20px;">
        {{billi.official_title}}
        {{billi.popular_title}}
      </p>
      <h3  style="margin : 20px;" ng-if="billi">CoSponsors:</h3>
      <md-content flex layout-fill layout-padding layout="row" layout-align="center center"  style="margin : 20px;">
        <md-grid-list flex="90" layout="column"
            md-cols-sm="3" md-cols-md="6" md-cols-gt-md="6"
            md-row-height-gt-md="1:1" md-row-height="1:1"
            md-gutter="0px" md-gutter-gt-sm="0px" style="padding: 0px; margin:0px;" >

          <md-grid-tile ng-repeat="key in billi.cosponsors" md-rowspan="1"  md-colspan="1" style="padding: 5px; margin:10px; background: #f5f5f5; text-align: center;" >
            <a href="{{key.legislator.website}}" ><p >{{key.legislator.title}}. {{key.legislator.first_name}} {{key.legislator.middle_name}} {{key.legislator.last_name}}</p></a>
          </md-grid-tile>
       </md-grid-list>
      </md-content>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="answer('useful')" class="md-primary">
      Cool
    </md-button>
  </div>
  </form>
</md-dialog>