<md-dialog aria-label="Bill Details">
  <md-dialog-content class="sticky-container" >
    <md-subheader flex="10" class="md-sticky-no-effect">{{billi.short_title}}</md-subheader>
      <p layout="row" layout-align="center center" style="padding : 20px;">
        {{billi.official_title}} <br/>
        {{billi.popular_title}}
      </p>
      <h3  style="margin : 20px;" ng-if="billi">Co-Sponsors:</h3>
      <md-content flex layout-fill layout-padding layout="row"  layout-fill layout-wrap layout-align="start start" ng-scrollbar > <!--layout="row" layout-align="center center"  style="margin : 20px;" -->
        <div ng-repeat="key in billi.cosponsors" flex>
          <a href="{{key.legislator.website}}" ><p >&nbsp;&nbsp;{{key.legislator.title}}. {{key.legislator.first_name}} {{key.legislator.middle_name}} {{key.legislator.last_name}}&nbsp;&nbsp;</p></a>
        </div>
        <!--
        <md-list>
          <md-list-item ng-repeat="key in billi.cosponsors">
            <a href="{{key.legislator.website}}" ><p >{{key.legislator.title}}. {{key.legislator.first_name}} {{key.legislator.middle_name}} {{key.legislator.last_name}}</p></a>
          </md-list-item>
        </md-list>
        -->
      </md-content>
  </md-dialog-content>

  <div class="md-actions" layout="row">
    <md-button ng-click="answer('useful')" class="md-primary">
      Close
    </md-button>
  </div>
</md-dialog>