<md-dialog aria-label="Mango (Fruit)">
  <form>
  <md-dialog-content class="sticky-container">
    <md-subheader class="md-sticky-no-effect">{{billi.short_title}}</md-subheader>
    <div>
      <p>
        {{billi.official_title}}
      </p>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" hide show-md>
      More on Wikipedia
    </md-button>
    <span flex></span>
    <md-button ng-click="answer('not useful')" class="md-primary">
     Not Useful
    </md-button>
    <md-button ng-click="answer('useful')" class="md-primary">
      Useful
    </md-button>
  </div>
  </form>
</md-dialog>