<div layout="row">
	<div layout="column" flex='20' layout-fill></div>
	<div layout="column" flex='60' layout-fill>
		
		<div layout="row">
			<md-card flex>
				<md-card-content>
					<md-input-container>
						<label><h2>Let's build coalitions around ...</h2></label>
						<input ng-model="query" ng-keydown="keydown($event)" flex>
 					</md-input-container>
 				</md-card-content>
			</md-card>
		</div>
		<div layout="row" >
			<md-card flex ng-if="result!==''">
				<md-card-content>
					<md-list>
						<div ng-repeat="person in peeps | filter : score">
						  <md-list-item layout="row" flex layout-fill style=" margin: 16px;">
						  	<div layout="column" flex="50">
					          {{person}} </br>
					          {{people[person].score}}
						  	</div>
						  	<div layout="column" flex="50">
						  	  <md-list>
							  	<div layout="row" flex="20" ng-repeat="bill in people[person].bills">
								  <md-list-item>
								  	<a href="{{bill.urls.govtrack}}">
								  		<md-subheader ng-href="{{bill.urls.govtrack}}" style="padding : 0px;">{{bill.bill_id}}
								  		</md-subheader>
								  	</a>
								  	<div layout="row" flex="80">
									  	<p style="font-size:12px">{{bill.official_title}}</p>
								  	</div>
								  </md-list-item>
							  	</div>
							  </md-list>
						  	</div>
						  </md-list-item>
						  <md-divider></md-divider>
						</div>
					</md-list>					
				</md-card-content>
			</md-card>
		</div>
	</div>
	<div layout="column" flex='20' layout-fill>
		<div layout="row" flex='20' layout-fill>
			<md-card ng-if="result!==''">
				<md-card-content>
				</md-card-content>
			</md-card>
		</div>

		<md-card layout="row" flex="80"  ng-if="result!==''" >
			<md-card-content>
				<div>
					<md-checkbox ng-repeat="item in items" ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
				    	{{ item }}
				    </md-checkbox>				
				</div>
			</md-card-content>
		</md-card>

	</div>
</div>
