body {
	font-family: 'Lato', sans-serif;
}

.person {
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: 1px solid #ccc;
	padding: 15px;
	font-size: 1em;
	margin-bottom: 25px;
}

.avatar {
	float: left;
	margin: 0 20px 0 0;
}

.primary {

}

.secondary {
	float: left;
	margin-right: 20px;
}

.name {
	font-size: 1.75em;
}

.name a {
	color: #2073d0;
	text-decoration: underline;
}

.name a:hover {
	color: #154a87;
}

h3 {
	margin: 20px 0 0 0;
	font-size: 1.15em;
}

ul {
	padding: 0px 10px 0px 0px;
	margin: 0px 0px 0px 20px;
}

h1 {
	text-align: center;
	font-family: 'Lato', sans-serif;
	margin: 30px 0;
}

h2 {
	font-size: 1.5em;
}

.person-divider {
	margin-bottom: 0px;
}

/* Darken the placeholder text */
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #000000;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #000000;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #000000;
}

.dialogdemoBasicUsage .dialogDemo1 {
  height: 500px; }
.dialogdemoBasicUsage .dialog-demo-content div {
  text-align: center; }
.dialogdemoBasicUsage .md-subheader {
  background-color: #dcedc8;
  margin: 0; 
}
/* end placeholder text css */