<nav><h1><a href="/">GovScores</a></h1></nav>
<div class="row text-center">
  <h1 class="small-12 columns">GovScores.org</h1>
  <p class="small-12 columns">The people's congressional scorecard.<a id="info-link" href="#">What's a scorecard?</a></p>
</div>
<div class="row text-center">
  <input class="typeahead small-12 columns" type='search' placeholder='Search by issue to find legislators who support your position.'>
</div>
<div class="row" id="position-container">
</div>